<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts</title>
    <script src="{{ url_for('static', filename='js/packages/htmx.min.js') }}"></script>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/postPageLayout.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/navbarStyling.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/pages/posts/postPageStyling.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/pages/posts/postPageLayout.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/postObject.css') }}"></link>
</head>
<body id="root">
    <div id="navbar-root">
    </div>
    <hr class="nav-line-break">
    <div id="content-root">
        <main id="postsOuterWindow">
            <div id="leftSideBar">
                <a href="/AddContent">
                    <button id="buttonAddContent">Add Content</button>
                </a>
            </div>
            <div id="postsContainer" hx-get="/api/v1/render/post" hx-trigger="load" hx-swap="innerHTML">
            </div>
            <div id="rightSideBar"></div>
        </main>
    </div>
    <script type="module">
        import navbar from "{{ url_for('static', filename='js/components/navbar.js') }}"
        const root = document.getElementById("navbar-root")
        navbar(root)
    </script>

</body>
</html>