<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="{{ url_for('static', filename='js/packages/htmx.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animations.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/navbarStyling.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/inputStyling.css') }}"></link>
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/forms/formsGeneralStyling.css') }}"></link>
</head>
<body>
    <div id="navbar-root">
    </div>
    <hr class="nav-line-break">
    <div id="content-root">
    </div>
    <script type="module">
        //Imports
        import navbar from "{{ url_for('static', filename='js/components/navbar.js') }}"
        import registerForm from "{{ url_for('static', filename='js/components/forms/registerForm.js') }}"

        //Grabs elements in DOM to attach to
        const headerRoot = document.getElementById("navbar-root")
        const contentRoot = document.getElementById("content-root")

        //attaches content to DOM
        navbar(headerRoot)
        registerForm(contentRoot)
    </script>
</body>
</html>